@model IEnumerable<Reports.ViewModel.UserReportsViewModel>

@{
    ViewData["Title"] = "Home Page";
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Success"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["Error"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div class="text-center">
    <h1 class="display-4">Welcome to Reports</h1>
    <p>This is a simple MVC application.</p>
    <a class="btn btn-outline-primary btn-sm rounded-pill px-3 py-1 shadow-sm transition-all"
       asp-controller="User" asp-action="UserList" style="width: auto; display: inline-block;">
        <i class="bi bi-people"></i> Users
    </a>
    <a class="btn btn-outline-primary btn-sm rounded-pill px-3 py-1 shadow-sm transition-all"
       asp-controller="Report" asp-action="SearchReport" style="width: auto; display: inline-block;">
        <i class="bi bi-people"></i> All Report Details
    </a>
    <form asp-controller="Home" asp-action="UploadFile" method="post" enctype="multipart/form-data">
        <div class="form-group d-flex justify-content-center mt-5">
            <div class="w-50">
                <label for="fileInput">Choose a file to upload:</label>
                <input type="file" name="fileInput" class="form-control mt-2" id="fileInput" accept=".xlsx,.xls,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel" />
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary mt-2">Upload</button>
        </div>
    </form>
</div>
<div class="card-header bg-primary text-white d-flex justify-content-between align-items-center mt-5">
    <h3 class="mb-0">All Reports</h3>
</div>
<div class="card">
<div class="card-body">
    @if (!Model.Any())
    {
        <div class="alert alert-info">
            No Data found.
        </div>
    }
    else
    {
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>ReportName</th>
                        <th>Uploaded By</th>
                        <th>CreatedDate</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var report in Model)
                    {
                        <tr>
                            <td>@report.Name</td>
                            <td>@report.UserName</td>
                            <td>@report.CreatedDate</td>
                            <td>
                                <a href="@Url.Action("ReportDetail", "Report", new { id = report.ReportId })" class="btn btn-sm btn-info">
                                    <i class="bi bi-info-circle"></i> Details
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>
</div>